<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1209064995-s541q87pc0lnhcq2vt4lvkk3af6r3jjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1209064995-s541q87pc0lnhcq2vt4lvkk3af6r3jjh</string>
	<key>API_KEY</key>
	<string>AIzaSyCVA4RQLtCUm60pQOoSpgN40ANTbK9Fi98</string>
	<key>GCM_SENDER_ID</key>
	<string>1209064995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidamzou.vshop</string>
	<key>PROJECT_ID</key>
	<string>vshop-e33ff</string>
	<key>STORAGE_BUCKET</key>
	<string>vshop-e33ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1209064995:ios:8fcefa634047a48be79b96</string>
</dict>
</plist>